.paginationContainer {
  display: flex;
  gap: 8px;
}

.active {
  background-color: var(--secondary-color) !important;
  color: var(--white) !important;
}

.numbers {
  display: block;
}

@media (max-width: 750px) {
  .numbers {
    display: none;
  }
}
