.productCard {
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 23px;
  border-radius: 8px;
  padding: 23px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  user-select: none;
  text-align: center;
  box-shadow: 0px 0px 5px 3px rgba(130, 130, 130, 0.183);
}

.productCardImage {
  position: relative;
  width: 100%;
  height: 150px;
}

.productCardTitle {
  font-size: 17px;
}

.productCardSubtitle {
  font-size: 15px;
}

.productCard:hover {
  transform: scale(0.98);
}

@media (max-width: 1300px) {
  .productCardImage {
    height: 120px;
  }
}

@media (max-width: 750px) {
  .productCardImage {
    height: 140px;
  }
}

@media (max-width: 500px) {
  .productCardImage {
    height: 200px;
  }
}
